<section class="books-section">
  <div class="books-header">
    <div class="books-header-row">
      <h2 class="books-title">Books</h2>
      <p class="books-count" id="booksCount"></p>
    </div>
    <div class="select-wrapper">
      <select id="categorySelect" class="categories-select"></select>

      <ul id="categoriesList" class="categories-list">
        <li class="category-item" data-category="all">All categories</li>
      </ul>
      <svg class="select-icon">
        <use href="/img/icons.svg#icon-down"></use>
      </svg>
    </div>
  </div>

  <div class="books-content">
    <ul id="booksList" class="books-list"></ul>
    <button id="showMoreBtn" class="show-more-btn">Show More</button>
  </div>
</section>
