<!-- ----------------feedbacks section---------------- -->
<section id="feedback" class="feedback">
  <div class="container feedback-container">
    <div class="feedback-textbox">
      <h2 class="section-title">Customer Feedbacks</h2>
      <p class="section-text">See what our readers are saying about us!</p>
    </div>
    <div class="feedback-swiper swiper">
      <ul class="feedback-list swiper-wrapper">
        <li class="feedback-item swiper-slide">
          <p class="feedback-item-text">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <img
            src="../img/feedbacks/Jane Doe2.jpg"
            alt="John Doe"
            class="feedback-item-userimg"
            width="48"
            height="48"
          />
          <h3 class="feedback-item-username">John Doe</h3>
          <p class="feedback-item-userrole">Book Lover, Reader</p>
        </li>
        <li class="feedback-item swiper-slide">
          <p class="feedback-item-text">
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>
          <img
            src="../img/feedbacks/John Smith2.jpg"
            alt="John Smith"
            class="feedback-item-userimg"
            width="48"
            height="48"
          />
          <h3 class="feedback-item-username">John Smith</h3>
          <p class="feedback-item-userrole">Editor, BookMag</p>
        </li>
        <li class="feedback-item swiper-slide">
          <p class="feedback-item-text">
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book.
          </p>
          <img
            src="../img/feedbacks/Emily Johnson2.jpg"
            alt="Emily Johnson"
            class="feedback-item-userimg"
            width="48"
            height="48"
          />
          <h3 class="feedback-item-username">Emily Johnson</h3>
          <p class="feedback-item-userrole">Author, Novelist</p>
        </li>
      </ul>
      <div class="swiper-container">
        <div class="swiper-pagination"></div>
        <div class="swaper-btn-subbox">
          <button class="btn-orange swiper-button-prev">
            <svg class="swiper-svg-button-prev" width="24" height="24">
              <use href=""></use>
            </svg>
          </button>
          <button class="btn-orange swiper-button-next">
            <svg class="swiper-svg-button-next" width="24" height="24">
              <use href=""></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
