<footer class="footer-main container">
  <div class="footer-nav">
    <h2></h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="./books.html">Books</a></li>
      <li><a href="./feedbacks.html">Feedback</a></li>
      <li><a href="./location.html">Location</a></li>
    </ul>
  </div>
  
  <form class="form" action="#" method="POST">
    <label for="user-email">Join</label>
    <div class="form-group">
    <input 
      type="email" 
      name="email" 
      placeholder="Enter your email" 
      id="user-email"
      required
    >
    
    <button class="" type="submit">Sign Up</button>   
    </div>
    <small class="required-text">* Required field</small>
  </form>
  
  <p>© 2025 Booksy. All rights reserved.</p>
</footer>














</footer>
