<section class="location">
  <div class="container">
    <p class="location__subtitle">Location</p>
    <h2 class="location__title">How to find us</h2>
    <p class="location__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>

    <ul class="contacts">
      <li class="contacts__item">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./img/icons.svg#icon-email"></use>
        </svg>
        <div class="contacts__info">
          <p class="contacts__label">Email</p>
          <a href="mailto:hello@booksy.com" class="contacts__link"
            >hello@booksy.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./img/icons.svg#icon-phone"></use>
        </svg>

        <div class="contacts__info">
          <p class="contacts__label">Phone</p>
          <a href="tel:+612413043012" class="contacts__link"
            >+61 (241) 304-3012</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./img/icons.svg#icon-location"></use>
        </svg>
        <div class="contacts__info">
          <p class="contacts__label">Office</p>
          <address class="contacts__address">
            123 Books St, Sydney NSW 2000 AU
          </address>
        </div>
      </li>
    </ul>

    <div class="map"></div>
  </div>
</section>
