.section-events {
  padding: 64px 0px;
}

/* Texts styles */
.events-text-main {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  max-width: 343px;
}

.section-title.events-title {
  margin-bottom: 16px;
}

.events-main-text {
  margin-bottom: 32px;
}

.events-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.events-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.events-text-info {
  margin-bottom: 8px;
}

.events-text-description {
  margin-bottom: 24px;
}

/* Image styles */

.events-image {
  border-radius: 16px;
  width: 342px;
  height: 277px;
  object-fit: cover;
  margin-bottom: 24px;
}

/* List element styles */

.events-list-item {
  width: 343px;
  height: 521px;
}

.event-info-wrraper {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Register button */

.events-btn {
  width: 94px;
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.events-btn-icon-cover {
  width: 24px;
  height: 24px;
}

.events-list-item {
  margin-bottom: 56px;
}

/* Arrow buttons */

/* Orange arrow button styles */
.events-button-next,
.events-button-prev {
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #e15d05;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.events-btn-arrow-icon {
  fill: #fceee6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.events-button-next:hover,
.events-button-next:focus,
.events-button-prev:hover,
.events-button-prev:focus {
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: #fceee6;
}

.events-button-next:hover .events-btn-arrow-icon,
.events-button-next:focus .events-btn-arrow-icon,
.events-button-prev:hover .events-btn-arrow-icon,
.events-button-prev:focus .events-btn-arrow-icon {
  fill: #0b0500;
}

.events-button-next:active,
.events-button-prev:active {
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: #5a2502;
}

.events-button-next:active .events-btn-arrow-icon,
.events-button-prev:active .events-btn-arrow-icon {
  fill: #fceee6;
}

.events-button-next:disabled,
.events-button-prev:disabled {
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: #e15d05;
  opacity: 0.2;
}

.events-button-next:disabled .events-btn-arrow-icon,
.events-button-prev:disabled .events-btn-arrow-icon {
  fill: #0b0500;
}

.swiper-btn {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.swiper-pagination-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .events-image {
    width: 340px;
  }
  .events-list-item {
    max-width: 340px;
  }
  .events-main-text {
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-btn,
  .swiper-pagination.events-pagination {
    display: none;
  }

  .events-list-item {
    max-width: 421px;
  }

  .events-image {
    width: 421px;
  }

  .events-list {
    gap: 24px;
  }
}
