/* ----------------feedbacks section--------------- */
.section-title {
  margin-bottom: 24px;
}

.feedback-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px !important;
}

.feedback {
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative; /* щоб кнопки позиціонувались відносно секції */
}

.feedback-item {
  width: 277px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
}

.feedback-item-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 421px;
  margin-bottom: 24px;
}

.feedback-item-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
}

.feedback-item-userimg {
  border-radius: 100%;
}

.swiper-button-next {
  margin-left: 16px;
}

.swiper-svg-button-prev,
.swiper-svg-button-next {
  fill: #ffffff;
}

.swiper .swiper-pagination {
  position: static !important;
  transform: none !important;
  width: auto !important;
  margin: 0 !important;
}

.swiper .swiper-pagination :first-child {
  margin-left: 0 !important;
}

.swiper .swiper-pagination :last-child {
  margin-right: 0 !important;
}

.swiper-container {
  margin-top: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-pagination > .swiper-pagination-bullet {
  transition: opacity 0.3s ease;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #080c09;
  opacity: 1;
}
