/* Styles for Mobile devices */
body.menu-open {
  overflow: hidden;
}
.header-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.header-container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav-list {
  display: none;
}
.header-nav-link {
  font-size: 16px;
  line-height: 1.5;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus {
  opacity: 0.2;
}
.icon-logo {
  fill: #010100;
  width: 84px;
  height: 36px;
}
.header-burger-btn {
  border: none;
}
.header-burger-icon {
  fill: #010100;
}

/* Mobile menu */
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 8px;
  padding-bottom: 92px;
  overflow: scroll;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-container {
    height: 72px;

    width: 704px;
  }
  .header-nav-list {
    display: flex;
    gap: 32px;
  }
  .header-burger-btn {
    display: none;
  }
  .icon-logo {
    width: 80px;
    height: 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header-container {
    width: 1312px;
  }
}
